body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
   
}
.name-hight-lite{
    color: rgb(255, 183, 0);
}
h1{
    font-size: 45px;
}
h3{
    font-size: 35px;
}
h4{
    font-size: 20px;
}
.profile-div{
    float: left;
    width: 40%;
    margin-left: 4%;
    padding-left: 2%;
}
.profile-div img{
    width: 100%;
}

section{
    height: 500px;
    padding-bottom: 150px;
}
.head-section{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.profile-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon,tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.exprinces-area{
 background-image: url("images/exp-bg.png");
 background-repeat: no-repeat;
 background-position: left;
}
.creat-boxshadu{
    box-shadow: 10px 10px 40px gray;
    height: 80%;
   border-radius: 5px;
}
#full-stack{
    border-left: 7px solid;
    border-image:linear-gradient(180deg, lightsalmon,tomato) ;
    border-image-slice:1 ;

}
#baby-web{
    border-left: 7px solid;
    border-image:linear-gradient(180deg, rgb(33, 8, 255),rgb(148, 138, 241)) ;
    border-image-slice:1 ;

}
footer{
    text-align: center;
    font-size: 15px;
}